$primary-normal: #06121e;
$primeiry-dark: #040f1a;
$primary-light: #0c2134;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #101f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #373436;

$white-normal: #ffffff;
$white-dark: #edeaef;
$white-light: #fefbff;

$auxiliary-normal: #d94140;
$auxiliary-dark: #b42b2b;
$auxiliary-light: #d34040;
