@import "./colors";
@import "./header";
@import "./layout";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: 'Sora', Arial, sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $primary-normal;
}

button {
    font-family: 'Sora', Arial, sans-serif;
    cursor: pointer;
}

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

